/DE2-115_Basic_Computer/
DE2-115_Basic_Computer/verilog/nios_system/nios_system.xml
DE2-115_Basic_Computer/verilog/nios_system/synthesis/nios_system.debuginfo
DE2-115_Basic_Computer/verilog/nios_system/nios_system.xml
